* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
}

.login-wrap {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-login {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 10px;
	margin-right: 10px;
	background: rgb(233, 233, 233);
	border-radius: 10px;
}
